<section flights-list>

    {% for item in items %}
    {% include 'flights/list-item.html' %}
    {% endfor %}
    
    {% for page in pages %}
    <a 
    href="#"
    hx-get="{% url 'flights-list' %}"
    hx-target="[flights-container]"
    hx-trigger="click, flight-created from:body"
    hx-vals='{"page_index": "{{page}}", "keyword": "{% if keyword is not None %}{{keyword}}{% endif %}" }'
    class="{% if page != current_page %} outline {% endif %}" role="button">{{page}}</a>
    {% endfor %}
</section>
